.App {
	text-align: center;
	margin: 0 10%;
}
.container {
	justify-content: center;
}
.name {
	padding: 0;
	margin: 20px 0;
	text-align: left;
}
.intro {
	padding: 0;
	margin-bottom: 20px;
	text-align: left;
	color: var(--blueGrey-color-400);
	font-weight: 500;
}

.row {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.column {
	flex: 50%;
	padding: 0 2px;
}

textarea {
	outline: none;
	width: 100%;
	color: var(--background-color);
	background-color: white;
	resize: none;
	border: none;
	margin: 0;
	padding: 20px;
	height: 20vh;
	min-height: 120px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-size: large;
}
.morse_text_area {
	padding-bottom: 28px;
}
textarea:focus {
	background-color: var(--blueGrey-color-50);
}
label {
	display: block;
	color: var(--background-color);
	background-color: var(--blueGrey-color-50);
	padding: 5px;
	margin-bottom: 4px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.revert {
	margin: 0;
	padding: 2px;
	border-radius: 50%;
	cursor: pointer;
	/* centering */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	/* coloring */
	background-color: var(--background-color);
	color: white;
}
.revert:hover {
	color: var(--blueGrey-color-100);
}
@media screen and (max-width: 992px) {
	.App {
		margin: 0 7%;
	}
	.column {
		flex: 100%;
		flex-direction: column;
	}
	#second {
		margin-top: 8px;
	}
	.revert {
		transform: translate(-50%, -60%) rotate(90deg);
		transform-origin: center center;
	}
}
@media screen and (max-width: 600px) {
	.App {
		margin: 0 3%;
	}
}
#first {
	order: 1;
}
#second {
	order: 2;
}

#copyright {
	color: var(--blueGrey-color-500);
	display: inline-block;
	margin: 40px 0 20px 0;
}
