#footer {
	margin-top: 40px;
	padding: 30px;
}
.footer_text {
	margin: 0;
	color: var(--blueGrey-color-200);
}
#wiki {
	color: var(--blueGrey-color-500);
	text-decoration: none;
}
#wiki:hover {
	color: var(--blueGrey-color-100);
	text-decoration: underline;
}
