/* Those variables will be available anywhere in the application */
:root {
	--background-color: #263238;
	--foreground-color: #ffffff;
	--blueGrey-color-50: #eceff1;
	--blueGrey-color-100: #cfd8dc;
	--blueGrey-color-200: #b0bec5;
	--blueGrey-color-300: #90a4ae;
	--blueGrey-color-400: #78909c;
	--blueGrey-color-500: #607d8b;
	--blueGrey-color-600: #546e7a;
	--blueGrey-color-700: #455a64;
	--blueGrey-color-800: #37474f;
	--blueGrey-color-900: #263238;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: 'Roboto Mono', monospace;
}

::selection {
	color: var(--foreground-color);
	background-color: var(--blueGrey-color-100);
}
::placeholder {
	color: var(--blueGrey-color-400);
}
