.multimedia {
	text-align: left;
	margin: 10px 0 0 0;
}
.icon_button {
	cursor: pointer;
}
.icon_button:hover {
	color: var(--blueGrey-color-100);
}
.bulb {
	color: var(--blueGrey-color-600);
	margin: 0 0 0 10px;
}

#on {
	color: yellow;
}
#off {
	color: var(--blueGrey-color-600);
}

.controls span {
	display: inline-block;
	width: 100px;
	margin-left: 10px;
}
.controls input {
	outline: none;
}
.controls input:disabled {
	background-color: var(--blueGrey-color-700);
}

input[type='range']:disabled::-webkit-slider-thumb {
	cursor: auto;
}

/* Styling sliders (an overkill, I know. It's from StackOverflow anyways.) */

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type='range'] {
		overflow: hidden;
		width: 80px;
		-webkit-appearance: none;
		background-color: var(--blueGrey-color-600);
	}

	input[type='range']::-webkit-slider-runnable-track {
		height: 10px;
		-webkit-appearance: none;
		color: var(--blueGrey-color-100);
		margin-top: -1px;
	}

	input[type='range']::-webkit-slider-thumb {
		width: 10px;
		-webkit-appearance: none;
		height: 10px;
		cursor: ew-resize;
		background: var(--blueGrey-color-800);
		box-shadow: -80px 0 0 80px var(--blueGrey-color-100);
	}
}
/** FF*/
input[type='range']::-moz-range-progress {
	background-color: var(--blueGrey-color-600);
}
input[type='range']::-moz-range-track {
	background-color: var(--blueGrey-color-600);
}
/* IE*/
input[type='range']::-ms-fill-lower {
	background-color: var(--blueGrey-color-600);
}
input[type='range']::-ms-fill-upper {
	background-color: var(--blueGrey-color-600);
}
